In [1]:
import pandas as pd
import pickle

In [2]:
# Open the three Battorvi

barttorvik_df = pd.read_csv("MM Data/Barttorvik Away-Neutral.csv")
kenpom_with_barttorvik = pd.read_csv("MM Data/KenPom Barttorvik.csv")

In [3]:
barttorvik_df.head()

,YEAR,TEAM NO,TEAM ID,TEAM,SEED,ROUND,BADJ EM,BADJ O,BADJ D,BARTHAG,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,2024,1079,197,Akron,14,0,3.1,105.0,101.9,0.585,...,265,238,199,19,176,186,188,120,47,269
1,2024,1078,48,Alabama,4,0,18.7,125.4,106.7,0.865,...,10,33,8,156,106,12,357,3,351,8
2,2024,1077,33,Arizona,2,0,23.7,119.7,96.0,0.927,...,40,50,37,196,7,157,284,19,98,52
3,2024,1076,43,Auburn,4,0,26.8,120.8,94.0,0.947,...,67,86,76,127,69,127,260,5,18,77
4,2024,1075,36,Baylor,3,0,17.6,117.7,100.1,0.866,...,275,31,22,304,34,137,248,52,189,11

In [4]:
kenpom_with_barttorvik.head(10)

,YEAR,CONF,CONF ID,QUAD NO,QUAD ID,TEAM NO,TEAM ID,TEAM,SEED,ROUND,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,2024,MAC,17,61,1,1079,2,Akron,14,0,...,276,238,199,19,176,164,47,122,51,249
1,2024,SEC,28,63,3,1078,3,Alabama,4,0,...,13,33,8,156,106,10,314,2,263,7
2,2024,P12,24,63,3,1077,8,Arizona,2,0,...,16,50,37,196,7,195,134,8,14,47
3,2024,SEC,28,64,4,1076,12,Auburn,4,0,...,58,86,76,127,69,59,284,12,8,69
4,2024,B12,7,63,3,1075,14,Baylor,3,0,...,274,31,22,304,34,97,254,15,155,1
5,2024,MWC,20,62,2,1074,17,Boise St.,10,0,...,235,26,171,172,135,97,201,71,81,70
6,2024,B12,7,64,4,1073,25,BYU,6,0,...,90,18,54,116,133,103,62,16,52,39
7,2024,ACC,2,63,3,1072,33,Clemson,6,0,...,257,28,32,99,18,8,318,29,178,62
8,2024,Pat,25,63,3,1071,36,Colgate,14,0,...,256,60,48,214,362,315,5,156,16,268
9,2024,CAA,12,63,3,1070,37,College of Charleston,13,0,...,53,117,59,256,227,177,102,24,160,271

In [5]:
barttorvik_df.columns, kenpom_with_barttorvik.columns
unique_cols = [col for col in kenpom_with_barttorvik.columns if col not in barttorvik_df.columns]
print("Columns in KenPom w/ Bartorrvik but not Barttorvik Away-Neutral", unique_cols)

Columns in KenPom w/ Bartorrvik but not Barttorvik Away-Neutral ['CONF', 'CONF ID', 'QUAD NO', 'QUAD ID', 'K TEMPO', 'K TEMPO RANK', 'KADJ T', 'KADJ T RANK', 'K OFF', 'KO RANK', 'KADJ O', 'KADJ O RANK', 'K DEF', 'KD RANK', 'KADJ D', 'KADJ D RANK', 'KADJ EM', 'KADJ EM RANK']

In [6]:
len(kenpom_with_barttorvik), len(barttorvik_df)

(1079, 1079)

In [14]:
# create overall dictionary to hold team data from kenpom and barttorvik  data
combined_kenpom_dict = dict()



# Store csv in dictionary and save as pkl file
for _, row in kenpom_with_barttorvik.iterrows():
    row = row.to_dict()
    
    combined_kenpom_dict[(row["TEAM"], row["YEAR"])] = {
        ("(Team) "+k): v for k, v in row.items() if "RANK" in k
    }

    
# Dump data into pickle file
with open('pickle_files/kenpom-barttorvik-combined.pkl', 'wb') as single_season_team_file:
    pickle.dump(combined_kenpom_dict, single_season_team_file, protocol=pickle.HIGHEST_PROTOCOL)

In [15]:
list(combined_kenpom_dict.values())[1]

{'(Team) K TEMPO RANK': 7,
 '(Team) KADJ T RANK': 9,
 '(Team) KO RANK': 2,
 '(Team) KADJ O RANK': 2,
 '(Team) KD RANK': 254,
 '(Team) KADJ D RANK': 112,
 '(Team) KADJ EM RANK': 13,
 '(Team) BADJ EM RANK': 13,
 '(Team) BADJ O RANK': 4,
 '(Team) BADJ D RANK': 119,
 '(Team) BARTHAG RANK': 15,
 '(Team) EFG% RANK': 11,
 '(Team) EFGD% RANK': 149,
 '(Team) FTR RANK': 115,
 '(Team) FTRD RANK': 319,
 '(Team) TOV% RANK': 107,
 '(Team) TOV%D RANK': 279,
 '(Team) OREB% RANK': 27,
 '(Team) DREB% RANK': 220,
 '(Team) OP OREB% RANK': 220,
 '(Team) OP DREB% RANK': 27,
 '(Team) RAW T RANK': 7,
 '(Team) 2PT% RANK': 10,
 '(Team) 2PT%D RANK': 217,
 '(Team) 3PT% RANK': 41,
 '(Team) 3PT%D RANK': 67,
 '(Team) BLK% RANK': 125,
 '(Team) BLKED% RANK': 349,
 '(Team) AST% RANK': 149,
 '(Team) OP AST% RANK': 46,
 '(Team) 2PTR RANK': 345,
 '(Team) 3PTR RANK': 19,
 '(Team) 2PTRD RANK': 209,
 '(Team) 3PTRD RANK': 164,
 '(Team) BADJT RANK': 13,
 '(Team) AVG HGT RANK': 33,
 '(Team) EFF HGT RANK': 8,
 '(Team) EXP RANK': 156,
 '(Team) TALENT RANK': 106,
 '(Team) FT% RANK': 10,
 '(Team) OP FT% RANK': 314,
 '(Team) PPPO RANK': 2,
 '(Team) PPPD RANK': 263,
 '(Team) ELITE SOS RANK': 7}