In [2]:
import pandas as pd
import pickle

In [6]:
# Loading 2024 games
with open('final_data_pickles/games-without-scores.pkl', 'rb') as games_file:
    games_2024 = pickle.load(games_file)

len(games_2024)

74

In [7]:
games_stats_2024 = [game.get_game_stats_dict() for game in games_2024]
games_stats_2024[0]

In [9]:


games_2024_df = pd.DataFrame.from_dict(games_stats_2024, orient="columns")

In [10]:
games_2024_df.head()

,year,TEAM 1 Name,TEAM 1 (Team) 538 Power Rating,TEAM 1 (Team) 538 Power Rank,TEAM 1 (Team) K TEMPO RANK,TEAM 1 (Team) KADJ T RANK,TEAM 1 (Team) KO RANK,TEAM 1 (Team) KADJ O RANK,TEAM 1 (Team) KD RANK,TEAM 1 (Team) KADJ D RANK,...,TEAM 2 (Conference) EFF HGT,TEAM 2 (Conference) EXP,TEAM 2 (Conference) TALENT,TEAM 2 (Conference) FT%,TEAM 2 (Conference) OP FT%,TEAM 2 (Conference) PPPO,TEAM 2 (Conference) PPPD,TEAM 2 (Conference) ELITE SOS,TEAM 2 (Conference) WAB,Margin of Victory/Defeat
0,2024,Connecticut,None,None,299,329,1,1,27,11,...,79.668,2.026,8.164,73.1,72.5,1.069,1.114,11.659,-12.0,None
1,2024,North Carolina,None,None,41,41,31,24,28,6,...,79.856,1.827,5.995,72.2,71.9,0.981,1.056,10.216,-13.8,None
2,2024,North Carolina,None,None,41,41,31,24,28,6,...,79.301,1.820,1.807,69.8,69.6,0.981,1.041,8.775,-14.1,None
3,2024,Houston,None,None,351,348,34,17,1,2,...,79.666,2.237,8.169,70.6,71.9,1.057,1.071,12.148,-10.4,None
4,2024,Purdue,None,None,144,175,4,4,71,21,...,80.202,2.057,4.159,72.9,72.7,1.055,1.082,11.167,-11.4,None

In [11]:
# Get top 15 list from pickle
with open('TOP_STATS_LIST.pkl', 'rb') as file:
    top15_list = pickle.load(file)

In [12]:
games_subset_2024 = games_2024_df[top15_list]

In [13]:
games_subset_2024

,TEAM 1 (Team) BARTHAG RANK,TEAM 2 (Team) BARTHAG RANK,TEAM 1 (Team) BADJ EM RANK,TEAM 2 (Team) BADJ EM RANK,TEAM 1 (Resumes) B POWER,TEAM 2 (Resumes) B POWER,TEAM 1 (Team) KADJ EM RANK,TEAM 2 (Team) KADJ EM RANK,TEAM 1 (Seed) 538 Mean,TEAM 2 (Seed) 538 Mean,...,TEAM 1 (Resumes) RESUME,TEAM 2 (Resumes) RESUME,TEAM 1 (Team) KADJ O RANK,TEAM 2 (Team) KADJ O RANK,TEAM 1 (Team) ELITE SOS RANK,TEAM 2 (Team) ELITE SOS RANK,TEAM 1 (Resumes) R SCORE,TEAM 2 (Resumes) R SCORE,TEAM 1 (Resumes) Q3 Q4 L,TEAM 2 (Resumes) Q3 Q4 L
0,2,231,2,233,1.5,198.0,1,218,92.475862,69.771429,...,2,212,1,100,19,221,99.98,0.00,0,8
1,9,269,12,272,10.0,267.0,9,276,92.475862,69.771429,...,5,272,24,192,43,342,99.91,0.00,0,12
2,9,295,12,287,10.0,283.0,9,293,92.475862,69.771429,...,5,304,24,334,43,350,99.91,0.00,0,13
3,1,170,1,170,1.5,148.5,2,157,92.475862,69.771429,...,3,231,17,188,11,309,99.97,0.00,0,10
4,3,201,3,200,3.0,247.0,3,213,92.475862,69.771429,...,1,264,4,234,8,312,99.96,0.00,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,9,13,12,16,10.0,17.5,9,20,92.475862,86.414815,...,5,29,24,45,43,102,99.91,97.23,0,2
70,1,11,1,11,1.5,8.0,2,8,92.475862,87.244828,...,3,21,17,7,11,75,99.97,99.72,0,0
71,1,19,1,18,1.5,17.5,2,17,92.475862,86.414815,...,3,18,17,13,11,4,99.97,98.88,0,0
72,3,16,3,19,3.0,21.0,3,22,92.475862,87.244828,...,1,11,4,65,8,2,99.96,99.42,0,1
73,3,14,3,14,3.0,15.5,3,15,92.475862,86.414815,...,1,53,4,9,8,86,99.96,95.32,0,0

In [16]:
# Load model 4 and model 3
from tensorflow.keras.models import load_model

logistic_model = load_model("saved-models/model-3.h5")
linear_model = load_model("saved-models/model-4-linear.h5")

# Load scaler
with open('MinMaxScaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.
WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [18]:
X = scaler.transform(games_subset_2024)
X.shape

In [22]:
linear_predictions = linear_model.predict(X)
logistic_predictions = logistic_model.predict(X)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

In [24]:
len(linear_predictions), len(logistic_predictions)

(74, 74)

In [33]:
team1_names = games_2024_df["TEAM 1 Name"]
team2_names = games_2024_df["TEAM 2 Name"]

combined = list(zip(team1_names, team2_names, linear_predictions, logistic_predictions))

In [34]:
# Convert prediction arrays to float
combined = [(a, b, c[0], d[0]) for a, b, c, d in combined]

In [41]:
len(combined), len(combined[0])

(74, 4)

In [39]:
# Manually adding the results

correct_results = {
    ('Connecticut', 'Stetson'): "Win",
    ('North Carolina', 'Howard'): "Skip",
    ('North Carolina', 'Wagner'): "Win",
    ('Houston', 'Longwood'): "Win",
    ('Purdue', 'Montana St.'): "Skip",
    ('Purdue', 'Grambling St.'): "Win",
    ('Iowa St.', 'South Dakota St.'): "Win",
    ('Arizona', 'Long Beach St.'): "Win",
    ('Marquette', 'Western Kentucky'): "Win",
    ('Tennessee', 'Saint Peter\'s'): "Win",
    ('Illinois', 'Morehead St.'): "Win",
    ('Baylor', 'Colgate'): "Win",
    ('Kentucky', 'Oakland'): "Loss",
    ('Creighton', 'Akron'): "Win",
    ('Auburn', 'Yale'): "Loss",
    ('Alabama', 'College of Charleston'): "Win",
    ('Duke', 'Vermont'): "Win",
    ('Kansas', 'Samford'): "Win",
    ('San Diego St.', 'UAB'): "Win",
    ('Saint Mary\'s', 'Grand Canyon'): "Loss",
    ('Wisconsin', 'James Madison'): "Loss",
    ('Gonzaga', 'McNeese St.'): "Win",
    ('BYU', 'Duquesne'): "Loss",
    ('Clemson', 'New Mexico'): "Win",
    ('Texas Tech', 'North Carolina St.'): "Loss",
    ('South Carolina', 'Oregon'): "Loss",
    ('Washington St.', 'Drake'): "Win",
    ('Dayton', 'Nevada'): "Dayton",
    ('Florida', 'Boise St.'): "Skip",
    ('Florida', 'Colorado'): "Loss",
    ('Texas', 'Virginia'): "Skip",
    ('Texas', 'Colorado St.'): "Win",
    ('Florida Atlantic', 'Northwestern'): "Loss",
    ('Mississippi St.', 'Michigan St.'): "Loss",
    ('Nebraska', 'Texas A&M'): "Loss",
    ('Utah St.', 'TCU'): "Win",
    ('Connecticut', 'Florida Atlantic'): "Skip",
    ('Connecticut', 'Northwestern'): "Win",
    ('North Carolina', 'Mississippi St.'): "Skip",
    ('North Carolina', 'Michigan St.'): "Win",
    ('Houston', 'Nebraska'): "Skip",
    ('Houston', 'Texas A&M'): "Win",
    ('Purdue', 'Utah St.'): "Win",
    ('Purdue', 'TCU'): "Skip",
    ('Iowa St.', 'Washington St.'): "Win",
    ('Iowa St.', 'Drake'): "Skip",
    ('Arizona', 'Dayton'): "Win",
    ('Arizona', 'Nevada'): "Skip",
    ('Marquette', 'Florida'): "Skip",
    ('Marquette', 'Boise St.'): "Skip",
    ('Marquette', 'Colorado'): "Win",
    ('Tennessee', 'Texas'): "Win",
    ('Tennessee', 'Virginia'): "Skip",
    ('Tennessee', 'Colorado St.'): "Skip",
    ('Illinois', 'BYU'): "Skip",
    ('Illinois', 'Duquesne'): "Win",
    ('Baylor', 'Clemson'): "Loss",
    ('Baylor', 'New Mexico'): "Skip",
    ('Kentucky', 'Texas Tech'): "Skip",
    ('Kentucky', 'North Carolina St.'): "Skip",
    ('Creighton', 'South Carolina'): "Skip",
    ('Creighton', 'Oregon'): "Win",
    ('Auburn', 'San Diego St.'): "Skip",
    ('Alabama', 'Saint Mary\'s'): "Skip",
    ('Duke', 'Wisconsin'): "Skip",
    ('Kansas', 'Gonzaga'): "Loss",
    ('Connecticut', 'Auburn'): "Skip",
    ('Connecticut', 'San Diego St.'): "Win",
    ('North Carolina', 'Alabama'): "Loss",
    ('North Carolina', 'Saint Mary\'s'): "Skip",
    ('Houston', 'Duke'): "Loss",
    ('Houston', 'Wisconsin'): "Skip",
    ('Purdue', 'Kansas'): "Skip",
    ('Purdue', 'Gonzaga'): "Win",
}

In [44]:
linear_correct, logistic_correct, total = 0, 0, 0
for game in combined:
    result = correct_results[(game[0], game[1])]
    if result == "Skip":
        continue
    
    total += 1
    if result == "Win":
        if game[2] > 0:
            linear_correct += 1
        if game[3] > 0.5:
            logistic_correct += 1
    elif result == "Loss":
        if game[2] < 0:
            linear_correct += 1
        if game[3] < 0.5:
            logistic_correct += 1


print(f"Linear Accuracy: {linear_correct/total}, Logistic Accuracy: {logistic_correct / total}")

Linear Accuracy: 0.7083333333333334, Logistic Accuracy: 0.6875